<h1>Pages#about</h1>
<table>
  <tr>
    <td>Rails Version</td>
    <td/>
    <td><%= Rails.version %></td>
  </tr>
  <tr>
    <td>Ruby Version</td>
    <td/>
    <td><%= RUBY_VERSION %></td>
  </tr>
  <tr>
    <td>Rails Environment</td>
    <td/>
    <td><%= Rails.env %></td>
  </tr>
</table>
